name: mustafa's_webhook 


on:
  repository_dispatch:
    type:
      - webhook 


jobs:
  mymy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Run a script
        run: echo "Event of type $GITHUB_EVENT_NAME"